.chart-bar {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 1px;
  align-items: center;
  justify-content: space-around;
}
.chart-bar-inner {
  height: 70%;
  background-color: rgb(177, 123, 206);
  border-radius: 10px;
  width: 20%;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar-fill {
  background-color: lightblue;
  border-radius: 10px;
  bottom: 0px;
}


