.expense-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 50%;
    background-color: darkgray;
    border-radius: 10px;
    margin-top: 20px;
   
}
.expense-date{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
}
.expense-item-desc{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    justify-content: space-between;
}

.expense-item h2{
    color: #3a3a4a;
    font-size: 1rem;
}
.expense-item-price{
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-left: 10px;
}