.expense-filter {
  color: white;
  padding: 0 1rem;
  width: 100%;
}
.expense-filter-control {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.expense-filter .expense-filter-label {
  font-weight: bold;
  margin: 0.5rem;
}
